h1 { 
 font-family: "Papyrus"; 
 text-align: center;
 color: #008080;
 font-size: 70px; 
 }
 
body { 
 background-color: #7FFFD4;
 font-size: 30px; 
 margin: 0 10%; 
 font-family: "Papyrus"; 
 text-align: center;
}

input {
 font-family: "Papyrus";
 font-size: 25px; 
 text-align: center;
 width: 20%;
}
